# Ignore node_modules directory
__pycache__/

# Ignore build artifacts
build/
dist/

# Ignore editor-specific files
.vscode/
.idea/

# Ignore dependency lock files
Pipfile.lock

# Ignore built model
*.pkl

# Ignore database files
*.sqlite

# Ignore OS-specific files
.DS_Store
Thumbs.db